Repository VergilAI/brand-book: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix, npm run build:tokens, git add generated/

Tried making extraction non breaking
  docs/safe-migration-extraction.md
  docs/safe-migration-guide.md
  package.json
  scripts/migration/migration-extract-safe.ts
  scripts/migration/migration-help.ts
  scripts/migration/migration-review-visual.ts
  scripts/migration/test-safe-extraction.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

comment change to fix tree
  docs/color-migration-strategy-v2.md
Due: prettier --write

v1 - Demo ready (only front-end
  app/lms/user-management/[userId]/page.tsx
  app/lms/user-management/analytics/page.tsx
  app/lms/user-management/new/page.tsx
  app/lms/user-management/organisation-overview/page.tsx
  app/lms/user-management/page.tsx
  app/lms/user-management/roles/page.tsx
  app/map-editor/test-zoom-visualization.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

fix: update Storybook imports for v8 compatibility
  .storybook/addons/toolbar-version-switcher.ts
  .storybook/addons/version-panel.tsx
  .storybook/addons/version-switcher.ts
  .storybook/main.ts
  .storybook/manager.ts
  package-lock.json
  package.json
  stories/ComprehensiveTokenSystem.stories.tsx
  stories/VersionManagement.stories.tsx
  stories/tokens/ColorTokens.stories.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v2 - finished user screen
  app/lms/user-management/page.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

feat: implement comprehensive color migration dashboard
  app/api/migration/analyze-colors/route.ts
  app/internal/migration-dashboard/components/ColorMigrationTab.tsx
  app/internal/migration-dashboard/page.tsx
  design-tokens/active/source/colors.yaml
  generated/tailwind-theme.js
  generated/tokens.css
  generated/tokens.json
  generated/tokens.scss
  generated/tokens.ts
  package.json
  scripts/analyze-colors-comprehensive.ts
  scripts/build-tokens.ts
  stories/design-system/color-scales-v2-tokenized.stories.tsx
  stories/design-system/color-scales-v2.stories.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix, npm run build:tokens, git add generated/

v3 - everything done but the org chart
  app/lms/user-management/organisation-overview/page.tsx
  app/lms/user-management/roles/page.tsx
  lib/lms/roles-data.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

refactor: migrate hardcoded colors to centralized token system
  app/drawing-tool/components/canvas/DrawingCanvas.tsx
  app/drawing-tool/hooks/useDrawingTool.ts
  app/globals.css
  app/map-editor/components/canvas/MapCanvas.tsx
  components/lms/territory-conquest.tsx
  components/vergil/LayeringIcons/LayeringIcons.tsx
  components/vergil/iris-rays.tsx
  scripts/analyze-colors-comprehensive.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v4 - first working version
  app/lms/user-management/organisation-overview/page.tsx
  app/lms/user-management/page.tsx
  app/lms/user-management/roles/page.tsx
  lib/lms/mock-data.ts
  lib/lms/roles-data.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

feat: add sync status indicator and token regeneration to migration dashboard
  app/api/migration/check-sync/route.ts
  app/api/migration/regenerate-tokens/route.ts
  app/internal/migration-dashboard/components/ColorMigrationTab.tsx
  docs/color-migration-ast-spec.md
  scripts/analyze-colors-comprehensive.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

docs: add strict token usage rules to CLAUDE.md
  CLAUDE.md
Due: prettier --write

feat: implement comprehensive color sync validation in migration dashboard
  app/internal/migration-dashboard/components/ColorMigrationTab.tsx
  package.json
  scripts/analyze-colors-comprehensive.ts
  scripts/color-sync-validator.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

fix: improve sync status tooltip positioning and remove duplicate status
  app/internal/migration-dashboard/components/ColorMigrationTab.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

feat: enhance migration status display with consistent health indicators
  app/internal/migration-dashboard/components/ColorMigrationTab.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

feat: implement comprehensive token regeneration safety system
  app/internal/migration-dashboard/components/ColorMigrationTab.tsx
  scripts/analyze-colors-comprehensive.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

fix: convert z-index token values to strings
  design-tokens/active/source/tokens.yaml
  generated/tailwind-theme.js
  generated/tokens.css
  generated/tokens.json
  generated/tokens.scss
  generated/tokens.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix, npm run build:tokens, git add generated/

final version
  app/lms/user-management/[userId]/page.tsx
  app/lms/user-management/new/page.tsx
  app/lms/user-management/organisation-overview/page.tsx
  app/lms/user-management/page.tsx
  app/lms/user-management/roles/page.tsx
  components/lms/user-management-header.tsx
  public/logos/vergil-logo-black.svg
  public/logos/vergil-mark-black.svg
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

fix: complete migration to Tailwind v3
  app/globals.css
  generated/tailwind-theme.js
  generated/tokens.css
  generated/tokens.json
  generated/tokens.scss
  generated/tokens.ts
  package-lock.json
  package.json
  postcss.config.mjs
  tailwind.config.js
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix

fix: convert OKLCH to HSL colors and update CLAUDE.md for Tailwind v3
  CLAUDE.md
  app/globals.css
  generated/tailwind-theme.js
  generated/tokens.css
  generated/tokens.json
  generated/tokens.scss
  generated/tokens.ts
  tailwind-v3-migration-audit.md
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix

v1 - Course overview
  .storybook/main.ts
  app/lms/new_course_overview/page.tsx
  components/lms/ChapterCard.tsx
  components/lms/KnowledgePointAnalytics.tsx
  components/lms/LearnModal.tsx
  components/lms/LessonRow.tsx
  components/lms/lms-header.tsx
  components/lms/new-course-overview.tsx
  components/vergil/vergil-logo.tsx
  lib/lms/new-course-types.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v2 - course_overview
  app/lms/test/page.tsx
  components/lms/ChapterCard.tsx
  components/lms/KnowledgePointAnalytics.tsx
  components/lms/LessonRow.tsx
  components/lms/TestInterface.tsx
  components/lms/new-course-overview.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v2 editor
  app/text-editor/editor.css
  app/text-editor/layout.tsx
  app/text-editor2/CLAUDE.md
  app/text-editor2/editor.css
  app/text-editor2/layout.tsx
  app/text-editor2/page.tsx
  components/text-editor/ChartVisualizer/ChartVisualizer.tsx
  components/text-editor/ChartVisualizer/index.ts
  components/text-editor/EditorCanvas/EditorCanvas.tsx
  components/text-editor/EditorToolbar/EditorToolbar.tsx
  components/text-editor/MarginRuler/MarginRuler.tsx
  components/text-editor/TabPanel/TabPanel.tsx
  components/text-editor/TableBuilder/TableBuilder.tsx
  components/text-editor/TableBuilder/index.ts
  components/text-editor/TextEditor/TextEditor.tsx
  components/text-editor/ToolsPanel/ToolsPanel.tsx
  components/text-editor/ToolsPanel/index.ts
  components/text-editor2/EditorArea/EditorArea.tsx
  components/text-editor2/EditorArea/index.ts
  components/text-editor2/Ruler/Ruler.tsx
  components/text-editor2/Ruler/index.ts
  components/text-editor2/Sidebar/Sidebar.tsx
  components/text-editor2/Sidebar/index.ts
  components/text-editor2/StatusBar/StatusBar.tsx
  components/text-editor2/StatusBar/index.ts
  components/text-editor2/TextEditor/TextEditor.tsx
  components/text-editor2/TextEditor/index.ts
  components/text-editor2/Toolbar/Toolbar.tsx
  components/text-editor2/Toolbar/index.ts
  components/ui/scrollarea.tsx
  hooks/use-text-editor.ts
  hooks/use-text-editor2.ts
  lib/tiptap-font-size.ts
  package-lock.json
  package.json
  stores/text-editor2-store.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v3 - final (old) course overview
  components/lms/ChapterCard.tsx
  components/lms/KnowledgePointAnalytics.tsx
  components/lms/LearnModal.tsx
  components/lms/LessonRow.tsx
  components/lms/game-launcher.tsx
  components/lms/game-type-card.tsx
  components/lms/new-course-overview.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v2 safe
  app/map-editor/components/debug/DebugPanel.tsx
  components/text-editor2/EditorArea/EditorArea.tsx
  components/text-editor2/Sidebar/Sidebar.tsx
  components/text-editor2/StatusBar/StatusBar.tsx
  components/text-editor2/TextEditor/TextEditor.tsx
  components/text-editor2/Toolbar/Toolbar.tsx
  stores/text-editor2-store.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v2 sort of working
  components/text-editor2/EditorArea/EditorArea.tsx
  components/text-editor2/Sidebar/Sidebar.tsx
  stores/text-editor2-store.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

v4 - semi-final version
  components/lms/LearnModal.tsx
  components/lms/connect-cards-game.tsx
  components/lms/flashcard-game.tsx
  components/lms/game-launcher.tsx
  components/lms/game-type-card.tsx
  components/lms/jeopardy-board.tsx
  components/lms/jeopardy-clue.tsx
  components/lms/jeopardy-game.tsx
  components/lms/jeopardy-score.tsx
  components/lms/lesson-modal.tsx
  components/lms/lms-header.tsx
  components/lms/millionaire-audience-poll.tsx
  components/lms/millionaire-game.tsx
  components/lms/millionaire-progress.tsx
  components/lms/new-course-overview.tsx
  lib/lms/game-types.ts
  lib/lms/new-course-types.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

bug fixes
  app/lms/user-management/[userId]/page.tsx
  app/lms/user-management/new/page.tsx
  app/lms/user-management/organisation-overview/page.tsx
  app/lms/user-management/page.tsx
  app/lms/user-management/roles/page.tsx
  lib/lms/roles-data.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

user management fixed
  app/lms/user-management/new/page.tsx
  app/lms/user-management/organisation-overview/page.tsx
  app/lms/user-management/page.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

bug fixes
  components/lms/ChapterCard.tsx
  components/lms/KnowledgePointAnalytics.tsx
  components/lms/LearnModal.tsx
  components/lms/LessonRow.tsx
  components/lms/game-launcher.tsx
  components/lms/game-type-card.tsx
  components/lms/lms-header.tsx
  components/lms/new-course-overview.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

fully working version
  components/lms/TestInterface.tsx
  components/lms/connect-cards-game.tsx
  components/lms/flashcard-game.tsx
  components/lms/game-launcher.tsx
  components/lms/jeopardy-board.tsx
  components/lms/jeopardy-clue.tsx
  components/lms/jeopardy-game.tsx
  components/lms/jeopardy-score.tsx
  components/lms/millionaire-game.tsx
  components/lms/test-interface.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

fully functioning front-end.
  app/globals.css
  app/lms/user-management/page.tsx
  components/lms/ChapterCard.tsx
  components/lms/KnowledgePointAnalytics.tsx
  components/lms/LearnModal.tsx
  components/lms/LessonRow.tsx
  components/lms/TestInterface.tsx
  components/lms/game-interface.tsx
  components/lms/game-launcher.tsx
  components/lms/jeopardy-clue.tsx
  components/lms/jeopardy-game.tsx
  components/lms/millionaire-game.tsx
  components/lms/millionaire-question.tsx
  components/lms/new-course-overview.tsx
  components/lms/scroll-performance.module.css
  components/lms/test-interface.tsx
  hooks/useScrollPerformance.ts
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

Migrate from Tailwind CSS v4 to v3 for shadcn/ui compatibility
  app/globals.css
  app/lms/new_course_overview/api/course-api.ts
  components/COMPONENT_INVENTORY.md
  new_token_spec.md
  package-lock.json
  package.json
  postcss.config.js
  postcss.config.mjs
  tailwind.config.js
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix

Add component inventory documentation
  TOKEN_MIGRATION_GUIDE.md
  TOKEN_MIGRATION_REPORT.md
  TOKEN_MIGRATION_STATUS.md
  TOKEN_SYSTEM_GUIDE.md
  app/globals.css
  app/tokens/page.tsx
  components/KnowledgePointAnalytics.tsx
  components/TokenShowcase.tsx
  components/dialog.tsx
  packages/design-system/README.md
  packages/design-system/TOKEN_USAGE.md
  packages/design-system/examples/TokenExample.tsx
  packages/design-system/generated/tokens.css
  packages/design-system/generated/tokens.d.ts
  packages/design-system/generated/tokens.json
  packages/design-system/scripts/generate-tokens.ts
  packages/design-system/tailwind-plugin.js
  packages/design-system/tokens/ARCHITECTURE.md
  packages/design-system/tokens/components.ts
  packages/design-system/tokens/index.ts
  packages/design-system/tokens/primitives.ts
  packages/design-system/tokens/semantic.ts
  scripts/migrate-to-tokens.js
  tailwind.config.js
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix

Add component inventory documentation
  app/globals.css
  packages/design-system/generated/tokens.css
  packages/design-system/scripts/generate-tokens.ts
  packages/design-system/tailwind-plugin.js
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write, eslint --fix

Fix JSX syntax error in organisation-overview page
  app/lms/user-management/organisation-overview/page.tsx
Due: eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error', prettier --write

Path conditions:
  eslint --fix --rule '@vergil/tokens/no-hardcoded-colors: error' --rule '@vergil/tokens/no-hardcoded-spacing: error' --rule '@vergil/tokens/no-arbitrary-tailwind: error': any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{css,scss,less})) or (any of: *.{json,md,yaml,yml})
  eslint --fix: any of: *.{js,jsx}
  npm run build:tokens: any of: design-tokens/**/*.yaml
  git add generated/: any of: design-tokens/**/*.yaml
